*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    overflow: hidden;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 25px;
    background-color: antiquewhite;
}
.Menu div:nth-child(1){
    display: inline-flex;
} 
.Menu .fa{
    cursor: pointer;
    margin-right: 1rem;
}
.Login{
    display: flex;
    flex-direction: row;
}
.Login h4:nth-child(1){
    color:#0a6b24;
    margin-right: 1.5rem;
    font-size: 22PX;
}
.Login h4:nth-child(2){
    border-radius: 18px;
    margin-top: -4px;
    padding: 5px 6px;
    font-weight: bolder;
    letter-spacing: 1px;
    color: whitesmoke;
    background-color: #88bfbd;
    font-size: 22px;
}
/*Prevent The Mobile Login from Displaying in Desktop */
.Mobile_Login{
    display: none;
}
.Mobile_Login .fa{
    color: #47574b;
    padding: 0 0.5rem 1rem 0;
    font-weight: bolder;
}
.Signup{
    font-size: 15px;
    letter-spacing: 1px;
}
.Signup p{
    padding: 5px 0;
    color:  #119b9b;
}
.Signup p:nth-child(2){
    color: white;
    background-color: #119b9b;
    padding: 10px 0;
    position: absolute;
    width:100%;
}
.Menu_List{
    display: none;
}
.Menu_List ul{
    list-style: none;
    font-size: 20px;

}
.Menu_List ul li{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color:white;
    border-bottom: 2px solid white;
    margin-bottom: 10px;
    width: 100%;
    padding: 0.5rem 0;
    box-sizing: border-box;
}
.Menu_List ul li:last-child ul{
    display: inline-flex;
    position: absolute;
    top: 10%;
}

@media (max-width: 600px) {
    .header{
        display: flex;
        flex-direction: row;
         justify-content: space-between;
        align-items: center;
        padding: 5px;
        font-size: 25px;
        background-color: antiquewhite;
    }
    .Login{
        display: none;
    }
    .Signup{
        position: absolute;
        left: 0;
        top: 6rem;
        width: 100%;
        text-align: center;
         transform: translateX(100%); 
    }
    .Signup_Active{
        position: absolute;
        left: 0;
        top: 6rem;
        width: 100%;
        text-align: center;
        transform: translateX(0);
    }
    .Mobile_Login{
        display: inline-flex
    }
    .Mobile_Login .fa{
        margin-top: 7px;
    }
    .Menu h5{
        display: none;
    
    }
    .Menu_List{
        display: flex;
        justify-content: center;
        position: absolute;
        left: 0; 
        top: 5rem;
        width: 100%;
        background-color: #3852ba;
        transform: translateX(100%);
         
    }
    .Menu_Active{
        display: flex;
        justify-content: center;
        position: absolute;
        left: 0; 
        top: 5rem;
        width: 100%;
        background-color: #3852ba;
        transform: translateX(0);
    }
    .Menu_List ul{
        padding: 0 1rem;
        width: 100%;
        text-align: center;
    }
    .Logo img{
        width: 200px;
        height: 70px;
    }
}